In [1]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('../DATA/IN/extract_gold_dvf.csv', sep=';')
df

C:\Users\jonat\AppData\Local\Temp\ipykernel_27140\2153843929.py:1: DtypeWarning: Columns (15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../DATA/IN/extract_gold_dvf.csv', sep=';')

,NoDisp,DateMutation,ValeurFonciere,NoVoie,BTQ,TypeVoie,CodeVoie,Voie,CP,Commune,...,SurfaceCarrez4emeLot,CinquiemeLot,SurfaceCarrez5emeLot,NombreLots,CodeTypeLocal,SurfaceReelleBati,NombrePiecesPrincipales,NatureCulture,NatureCultureSpeciale,SurfaceTerrain
0,1,2018-08-14,7000000.0,14.0,NaN,RUE,0100,DU PETIT MOULIN,33230,ABZAC,...,NaN,NaN,NaN,0,1,66.0,4.0,T,NaN,370.0
1,1,2018-08-01,40000000.0,14.0,Y,RUE,0065,JEAN ACHARD,33230,ABZAC,...,NaN,NaN,NaN,0,1,222.0,6.0,S,NaN,83.0
2,1,2018-08-27,13500000.0,1.0,B,NaN,B083,GRAND PIRON,33230,ABZAC,...,NaN,NaN,NaN,0,1,111.0,4.0,S,NaN,437.0
3,1,2018-08-13,19800000.0,412.0,C,NaN,B144,LES SERRES EST,33230,ABZAC,...,NaN,NaN,NaN,0,1,108.0,4.0,P,NaN,2345.0
4,1,2018-08-13,19800000.0,412.0,C,NaN,B144,LES SERRES EST,33230,ABZAC,...,NaN,NaN,NaN,0,1,108.0,4.0,S,NaN,288.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175012,1,2023-03-01,37275000.0,54.0,NaN,AV,0510,DU PIN FRANC,33370,YVRAC,...,NaN,NaN,NaN,0,1,120.0,4.0,S,NaN,993.0
175013,1,2023-03-29,32500000.0,52.0,NaN,AV,0700,DES TABERNOTTES,33370,YVRAC,...,NaN,NaN,NaN,0,1,90.0,4.0,S,NaN,198.0
175014,1,2023-06-29,22000000.0,30.0,NaN,CHE,0277,DE CASSIN,33370,YVRAC,...,NaN,NaN,NaN,0,1,100.0,3.0,S,NaN,281.0
175015,1,2023-06-30,35400000.0,10.0,NaN,RUE,0287,LOT CLOS DU VALLON,33370,YVRAC,...,NaN,NaN,NaN,0,1,95.0,4.0,S,NaN,734.0
175016,1,2023-06-29,8800000.0,30.0,NaN,CHE,0277,DE CASSIN,33370,YVRAC,...,NaN,NaN,NaN,0,1,100.0,3.0,S,NaN,281.0

In [9]:
df.describe()

,NoDisp,ValeurFonciere,NoVoie,CP,CodeDepartement,CodeCommune,PrefixeSection,NoPlan,SurfaceCarrez1erLot,SurfaceCarrez2emeLot,...,SurfaceCarrez3emeLot,QuatriemeLot,SurfaceCarrez4emeLot,CinquiemeLot,SurfaceCarrez5emeLot,NombreLots,CodeTypeLocal,SurfaceReelleBati,NombrePiecesPrincipales,SurfaceTerrain
count,175017.000000,1.746440e+05,174137.000000,175017.000000,175017.0,175017.000000,888.000000,175017.000000,30653.000000,2974.000000,...,397.000000,348.000000,114.000000,153.00000,83.000000,175017.000000,175017.000000,175011.000000,175011.000000,115570.000000
mean,1.047887,6.030615e+07,468.383549,33402.674677,33.0,226.435781,211.127252,375.886428,5667.154145,6058.263618,...,5573.095718,61.212644,3733.894737,56.30719,2833.313253,0.397601,1.375998,86.619047,3.538698,3095.653621
std,0.365134,1.910822e+08,1822.357863,263.844566,0.0,171.022436,173.697104,504.774861,5569.021462,2672.573584,...,3028.258151,279.931240,3065.943806,78.43622,2509.206574,0.651137,0.484381,48.932895,1.548442,19125.360711
min,1.000000,1.000000e+02,1.000000,33000.000000,33.0,1.000000,41.000000,1.000000,144.000000,189.000000,...,804.000000,2.000000,600.000000,2.00000,600.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,1.000000,1.660000e+07,9.000000,33185.000000,33.0,63.000000,41.000000,88.000000,3747.000000,4214.000000,...,3581.000000,6.000000,2099.000000,7.00000,2379.000000,0.000000,1.000000,53.000000,2.000000,281.000000
50%,1.000000,2.600000e+07,23.000000,33380.000000,33.0,200.000000,107.000000,203.000000,5203.000000,6097.500000,...,5756.000000,20.000000,2099.000000,41.00000,2379.000000,0.000000,1.000000,80.000000,4.000000,522.000000
75%,1.000000,4.190000e+07,70.000000,33610.000000,33.0,339.000000,346.250000,455.000000,6972.000000,7533.000000,...,6783.000000,91.000000,4547.000000,93.00000,2379.000000,1.000000,2.000000,108.000000,4.000000,936.000000
max,43.000000,7.227737e+09,9999.000000,33990.000000,33.0,555.000000,495.000000,6250.000000,620200.000000,31000.000000,...,26234.000000,5078.000000,15670.000000,867.00000,14470.000000,17.000000,2.000000,1000.000000,54.000000,382680.000000

In [13]:
import pandas as pd

# Assuming df is your dataframe

# Option 1: Fill NaN with a placeholder value, such as 0
df['ValeurFonciere'] = df['ValeurFonciere'].fillna(0).astype(int)

# Option 2: Drop rows with NaN or infinite values
df = df.dropna(subset=['ValeurFonciere'])
df['ValeurFonciere'] = df['ValeurFonciere'].astype(int)

# Option 3: Convert to a nullable integer type
df['ValeurFonciere'] = df['ValeurFonciere'].astype('Int64')

# Now when you use df.describe() or simply print(df), it should show the numbers in your desired format.

In [14]:
df.shape

(175017, 32)

In [15]:
df

,NoDisp,DateMutation,ValeurFonciere,NoVoie,BTQ,TypeVoie,CodeVoie,Voie,CP,Commune,...,SurfaceCarrez4emeLot,CinquiemeLot,SurfaceCarrez5emeLot,NombreLots,CodeTypeLocal,SurfaceReelleBati,NombrePiecesPrincipales,NatureCulture,NatureCultureSpeciale,SurfaceTerrain
0,1,2018-08-14,7000000,14.0,NaN,RUE,0100,DU PETIT MOULIN,33230,ABZAC,...,NaN,NaN,NaN,0,1,66.0,4.0,T,NaN,370.0
1,1,2018-08-01,40000000,14.0,Y,RUE,0065,JEAN ACHARD,33230,ABZAC,...,NaN,NaN,NaN,0,1,222.0,6.0,S,NaN,83.0
2,1,2018-08-27,13500000,1.0,B,NaN,B083,GRAND PIRON,33230,ABZAC,...,NaN,NaN,NaN,0,1,111.0,4.0,S,NaN,437.0
3,1,2018-08-13,19800000,412.0,C,NaN,B144,LES SERRES EST,33230,ABZAC,...,NaN,NaN,NaN,0,1,108.0,4.0,P,NaN,2345.0
4,1,2018-08-13,19800000,412.0,C,NaN,B144,LES SERRES EST,33230,ABZAC,...,NaN,NaN,NaN,0,1,108.0,4.0,S,NaN,288.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175012,1,2023-03-01,37275000,54.0,NaN,AV,0510,DU PIN FRANC,33370,YVRAC,...,NaN,NaN,NaN,0,1,120.0,4.0,S,NaN,993.0
175013,1,2023-03-29,32500000,52.0,NaN,AV,0700,DES TABERNOTTES,33370,YVRAC,...,NaN,NaN,NaN,0,1,90.0,4.0,S,NaN,198.0
175014,1,2023-06-29,22000000,30.0,NaN,CHE,0277,DE CASSIN,33370,YVRAC,...,NaN,NaN,NaN,0,1,100.0,3.0,S,NaN,281.0
175015,1,2023-06-30,35400000,10.0,NaN,RUE,0287,LOT CLOS DU VALLON,33370,YVRAC,...,NaN,NaN,NaN,0,1,95.0,4.0,S,NaN,734.0
175016,1,2023-06-29,8800000,30.0,NaN,CHE,0277,DE CASSIN,33370,YVRAC,...,NaN,NaN,NaN,0,1,100.0,3.0,S,NaN,281.0

In [16]:
df.describe()

,NoDisp,ValeurFonciere,NoVoie,CP,CodeDepartement,CodeCommune,PrefixeSection,NoPlan,SurfaceCarrez1erLot,SurfaceCarrez2emeLot,...,SurfaceCarrez3emeLot,QuatriemeLot,SurfaceCarrez4emeLot,CinquiemeLot,SurfaceCarrez5emeLot,NombreLots,CodeTypeLocal,SurfaceReelleBati,NombrePiecesPrincipales,SurfaceTerrain
count,175017.000000,175017.0,174137.000000,175017.000000,175017.0,175017.000000,888.000000,175017.000000,30653.000000,2974.000000,...,397.000000,348.000000,114.000000,153.00000,83.000000,175017.000000,175017.000000,175011.000000,175011.000000,115570.000000
mean,1.047887,50256379.015221,468.383549,33402.674677,33.0,226.435781,211.127252,375.886428,5667.154145,6058.263618,...,5573.095718,61.212644,3733.894737,56.30719,2833.313253,0.397601,1.375998,86.619047,3.538698,3095.653621
std,0.365134,161287868.905562,1822.357863,263.844566,0.0,171.022436,173.697104,504.774861,5569.021462,2672.573584,...,3028.258151,279.931240,3065.943806,78.43622,2509.206574,0.651137,0.484381,48.932895,1.548442,19125.360711
min,1.000000,-2147483648.0,1.000000,33000.000000,33.0,1.000000,41.000000,1.000000,144.000000,189.000000,...,804.000000,2.000000,600.000000,2.00000,600.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,1.000000,16500000.0,9.000000,33185.000000,33.0,63.000000,41.000000,88.000000,3747.000000,4214.000000,...,3581.000000,6.000000,2099.000000,7.00000,2379.000000,0.000000,1.000000,53.000000,2.000000,281.000000
50%,1.000000,26000000.0,23.000000,33380.000000,33.0,200.000000,107.000000,203.000000,5203.000000,6097.500000,...,5756.000000,20.000000,2099.000000,41.00000,2379.000000,0.000000,1.000000,80.000000,4.000000,522.000000
75%,1.000000,41575000.0,70.000000,33610.000000,33.0,339.000000,346.250000,455.000000,6972.000000,7533.000000,...,6783.000000,91.000000,4547.000000,93.00000,2379.000000,1.000000,2.000000,108.000000,4.000000,936.000000
max,43.000000,2090000000.0,9999.000000,33990.000000,33.0,555.000000,495.000000,6250.000000,620200.000000,31000.000000,...,26234.000000,5078.000000,15670.000000,867.00000,14470.000000,17.000000,2.000000,1000.000000,54.000000,382680.000000

In [17]:
df.loc((df['ValeurFonciere'] < 1500000) & (df['ValeurFonciere'] > 50000))

TypeError: unhashable type: 'Series'